@import url("https://use.typekit.net/dha1tmu.css");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: proxima-nova, sans-serif;
  background-color: #fbfffe;
}

input,
textarea,
button {
  font-family: inherit;
}

button,
button * {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  padding: 30px;
}

.header-left a {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #327466;
}

.header-left :not(:last-child) {
  margin-right: 50px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.header-right input {
  height: 50px;
  border-radius: 10px;

  border: none;
  background-color: #ddf7f1;
  font-size: 16px;
  width: 60%;
  padding-left: 40px;
}

::placeholder {
  color: #17b997;
}

.header-right button {
  color: white;
  background-color: #327466;
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
  width: 30%;
  border: none;
  border-radius: 10px;
}

.header-right img {
  margin-right: 10px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
}

.content-texts-wrapper {
  width: 35%;
  padding-top: 100px;
}

.content-texts-wrapper .content h1 {
  line-height: 60px;
  font-weight: 800;
  font-size: 58px;
  margin-top: 0;
  padding: 0;
}

.content-texts-wrapper .content h2 {
  color: #17b997;
  line-height: 60px;
  font-weight: 800;
  font-size: 58px;
  margin-top: 0;
  padding: 0;
}
.content-texts-wrapper .content p {
  line-height: 24px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  color: #327466;
}

.content button {
  color: #17b997;
  font-weight: 600;
  font-size: 16.618px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #ddf7f1;
  height: 60px;
  border: none;
  border-radius: 13px;
  padding: 0px 25px;
  margin-bottom: 70px;
}

.content button img {
  margin-right: 10px;
}

.leaf-wrapper {
  display: inline-flex;
  position: relative;
}

.content .leaf {
  position: absolute;
  right: 0;
  bottom: 10px;
  transform: translateX(calc(100% + 10px));
  width: 40px;
  height: 40px;
}

.card-1 {
  background-color: transparent;
  width: 240px;
  position: absolute;
  bottom: 100px;
  left: -60px;
}

.card-1 .women {
  display: flex;
  justify-content: center;
}

.card-1 .women img {
  width: 165px;
  height: 185px;
}

.card-1 button {
  padding: 15px 20px;
  border: none;
  height: 74px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0px 6.17793px 31.9193px rgba(180, 215, 207, 0.26);
}

.card-1 button span {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.card-1 button .subtitle {
  font-weight: 600;
  font-size: 14px;
  color: #327466;
}

.card-1 button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.hero-image {
  position: relative;
}

.card-2 {
  width: 200px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 12.5871px 58.3583px rgba(203, 223, 218, 0.4);
  border-radius: 18px;
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.card-2 .tree {
  left: 65px;
  transform: translateY(-50%);
  top: 0%;
  padding: 14px;
  background-color: white;
  position: absolute;
  border: none;
  border-radius: 17px;
  box-shadow: 0px 4.27864px 20.5971px rgba(133, 220, 200, 0.26);
}

.card-2 .tree img {
  width: 40px;
  height: 40px;
}

.card-2 img {
  width: 100%;
  height: 150px;
}

.card-2 button {
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  color: #327466;
  background-color: transparent;
  border: 1px solid #327466;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.card-2 .card-content {
  display: flex;
  flex-direction: column;
}

.provides .icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 65px;
}

.content-texts-wrapper .provides h3 {
  font-weight: 700;
  font-size: 22px;
  color: black;
}

.plant-icon {
  font-weight: 600;
  font-size: 14px;
  color: #327466;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 115px;
  padding: 15px 10px;
  text-align: center;
  justify-content: space-between;
  border-radius: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.plant-icon img {
  width: 45px;
  height: 45px;
}

.plant-icon:hover {
  background-color: white;
  box-shadow: 0px 6px 31px rgba(180, 215, 207, 0.26);
}
